/* :root {
    --fondo: #1c1c1c;
    --segundoFondo: #2b3a4a;
    --segundoTexto: #f5f5f5;
    --textos: #e0e0e0;
    --botones: #f95959;
    --mensajes: #2b3a4a;
} */

:root{
    --fondo: #e3e3e3;
    --segundoFondo: #455d7a;
    --segundoTexto: #e3e3e3;
    --textos: #233142;
    --botones: #f95959;
    --mensajes: #455d7a;
    
}

/* .first-color { 
	background: #233142; 
}
	
.second-color { 
	background: #455d7a; 
}

.third-color { 
	background: #f95959; 
}

.fourth-color { 
	background: #e3e3e3; 
} */